<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Email Verification</title>
    </head>
    <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #333333; color: #ffffff; direction: rtl;">
        <div style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #333333; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1 style="text-align: center;color: #ff004c;font-size: 2.2em;">تایید ایمیل</h1>
            <p style="font-size: 1.1em;color: #ffffff;direction: rtl;line-height: 1.5;margin-bottom: 10px;">درود به خوان خوش آمدید،</p>
            <p style="font-size: 1.1em;color: #ffffff;direction: rtl;line-height: 1.5;margin-bottom: 10px;">کد تایید شما:</p>
            <div style="margin-top: 20px; text-align: center; font-size: 2.5em; font-weight: bold; color: #ff004c;">{{.}}</div>
            <p style="font-size: 1.1em;color: #ffffff;direction: rtl;line-height: 1.5;margin-bottom: 10px;">اگر شما این درخواست را انجام نداده‌اید، لطفا این پیام را نادیده بگیرید.</p>
            <p style="font-size: 1.1em;color: #ffffff;direction: rtl;line-height: 1.5;margin-bottom: 10px;">با تشکر</p>
            <div style="margin-top: 20px; text-align: center; font-size: 0.8em;">
                <p style=" color: #ffffff; direction: rtl;">این ایمیل توسط خوان به شما ارسال شده است.</p>
            </div>
        </div>
    </body>
</html>